@model List<UrunYonetimSistemi.Models.Product>
    @{
    Layout = "_Layout";
    }
    <h2>▄r³n Listesi</h2>

    <a href="/Product/Create">Yeni ▄r³n</a>

    <table border="1">
        <tr>
            <th>Ad</th>
            <th>Aþ²klama</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>¦■lem</th>
        </tr>
        @foreach(var item in Model)
{
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
            <td>
                <a href="/Product/Delete/@item.Id">Sil</a>
            </td>
        </tr>
    }
    </table>
