@{
ViewData["Title"] ="Login";
}
<h2>Giriţ Yapýnýz</h2>

<form method="post">
    <div>
        <label>
            Kullanýcý Adý:
        </label>
        <input type:"text" name="username" />

    </div>

    <div>
        <label>
            Ţifre:
        </label>
        <input type=" password" name="password"/>
    </div>

    <button type="submit">Giriţ Yap</button>
</form>
@if(ViewBag.Error != null)
{
<p style="color:red">@ViewBag.Error</p>
}