@model UrunYonetimSistemi.Models.Product

<h2 class="mb-4 text-danger">▄r³n Sil</h2>

<div class="card p-4 shadow-sm">

    <p class="mb-3">
        <strong>@Model.Name</strong> ³r³n³n³ silmek istedi­inize emin misiniz?
    </p>

    <form method="post">

        <button type="submit" class="btn btn-danger">
            Evet Sil
        </button>

        <a href="/Product/Index" class="btn btn-secondary">
            ▌ptal
        </a>

    </form>

</div>