@model UrunYonetimSistemi.Models.Product

<h2>‹rŁn Sil</h2>

<p>Bu ŁrŁnŁ silmek istediūinize emin misiniz?</p>
<p>@Model.Name - @Model.Description</p>

<form method="post">
    <button type="submit">Sil</button>
    <a href="/Product/Index">›ptal</a>
</form>